.sesh-panel{
    height: 10em;
    background-color: #454255;
    padding: 0px;
    margin-top: 5em;
    color : wheat ;
    z-index : 500 ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
  }

  .plan-btn{
      margin-top: 4em;
      z-index: 200;
  }